{{#draggable-object-target action="moveCard"}}
{{#paper-list}}

  {{#paper-subheader}}
    <div class="layout-row layout-align-space-around-center">
      <div class="flex-10">
        {{#paper-button iconButton=true onClick=(action "showNewCardDialog")}}{{paper-icon "add circle outline"}}{{/paper-button}}
      </div>
      <div class="flex-90"><h1>{{list.title}}</h1></div>
    </div>
  {{/paper-subheader}}

  {{paper-divider}}

  <div class="layout-row layout-xs-column layout-wrap layout-align-space-around-start">
    {{#each cards as |card|}}
      <div class="flex-45">
        {{kestrel-card card=card}}
      </div>
    {{/each}}
  </div>

{{/paper-list}}
{{/draggable-object-target}}

{{#if newCardDialogShown}}
  {{k-prompt-dialog header="New Card" label="Title"
    cancelAction=(action "closeNewCardDialog")
    okAction=(action "saveCard")}}
{{/if}}
