{{#paper-list}}

  {{#paper-subheader}}
    {{#paper-button iconButton=true onClick=(action "showCreateCardDialog")}}{{paper-icon "add circle outline"}}{{/paper-button}}
    {{list.title}}
  {{/paper-subheader}}

  {{paper-divider}}

  {{#each cards as |card|}}
    {{#paper-item class="md-3-line md-long-text"}}
      <div class="md-list-item-text">
        <h3>{{card.title}}</h3>
      </div>
    {{/paper-item}}
  {{/each}}

{{/paper-list}}

{{#if createCardDialogShown}}
  {{#paper-dialog fullscreen=fullscreen onClose=(action "closeCreateCardDialog") clickOutsideToClose=true}}
    {{#paper-dialog-content}}
      <h2 class="md-title">New Card</h2>
      <div class="layout-row">
        <div class="layout-column flex-100">
          {{paper-input label="Title" type="text" value=title onChange=(action (mut title)) required=true}}
        </div>
      </div>
    {{/paper-dialog-content}}
    {{#paper-dialog-actions class="layout-row"}}
      {{#paper-button onClick=(action "closeCreateCardDialog")}}Cancel{{/paper-button}}
      {{#paper-button primary=true disabled=createCardButtonDisabled onClick=(action "createCard")}}Create{{/paper-button}}
    {{/paper-dialog-actions}}
  {{/paper-dialog}}
{{/if}}
